.header-about-menu-wrapper {
    display: flex;
    justify-content: center;
}

.header-about__menu-nav {
    gap: 50px;
    font-size: 18px;
    color: #2F2F51;
}

section > div > nav > button {
    border: none;
    background-color: white;
}

.about-content-wrapper {
    display: flex;
    justify-content: center;
}

.about-content-wrapper__about-content {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 461px;
    margin-top: 25px;
}

.about-content__info {
    width: 605px;
}

.about-content__logo {
    width: 200px;
    height: auto;
    padding: 46px 0px 0px 28px;
}

.about-content__text {
    width: 305px;
    padding: 61px 0px 0px 248px;
}

.about-content__picture {
    width: 595px;
    height: 100%;
    background: url("./../images/about.png");
    background-repeat: no-repeat;
    background-position: -70px;
}

.about__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 12px 30px;
    margin-bottom: 87px;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    color: white;
}

section > div > nav > button:hover {
    cursor: pointer;
    padding: 10px 20px;
    font-weight: 700;
    color: white;
    background: #EF7F04;
}

.about__button:hover {
    cursor: pointer;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    .header-about__menu-nav {
        display: flex;
    }

    .about-content-wrapper__about-content {
        width: 880px;
    }

    .about-content__info {
        width: 443px;
    }

    .about-content__text {
        width: 277px;
        padding: 61px 0px 0px 104px;
    }

    .about-content__picture {
        width: 447px;
    }
}
