.cards-about-container {
    margin: 70px 0px 80px 0px;
}

.cards-about-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 120px;
    width: 1200px;
}

.card-about {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 315px;
    height: 80px;
}

.card-about__title {
    margin-bottom: 10px;
    font-weight: 700;
}
