.header {
    align-items: center;
    gap: 30px;
    margin: 18px 0px;
}

.header__logo-wrapper {
    display: flex;
    gap: 44px;
}

.header__menu-nav {
    display: flex;
    gap: 25px;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 14px;
}

.buttons-container__button {
    display: flex;
    align-items: center;
    gap: 13px;
    border: none;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
}

.bkg-color-1 {
    background-color: #EF7F04;
}

.bkg-color-2 {
    background-color: #3B3A63;
}

.button-padding {
    padding: 8px 20px 8px 14px;
}

.link {
    color: #000000;
    text-decoration: none;
}

@media screen and (max-width: 993px) {
    .header {
        justify-content: space-between;
        margin: 10px 56px;
    }

    .header__menu-nav {
        display: none;
    }
}

@media screen and (min-width: 993px) {
    .header__image-burger {
        display: none;
    }
}
