.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu {
    display: flex;
    gap: 25px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 14px;
}

.button1 {
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 8px 19px 8px 14px;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    background-color: #EF7F04;
    color: #ffffff;
}

.button2 {
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 8px 20px 8px 14px;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    background-color: #3B3A63;
    color: #ffffff;
}
