.body {
    font-family: 'Roboto', sans-serif;
}

.section-header {
    margin-top: 65px;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
}

.services-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.services-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 1200px;
}

h3 {
    text-align: center;
}
