.service-block {
    position: relative;
    width: 595px;
    height: 268px;
    font-family: 'Roboto', sans-serif;
}

.service-image {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.tint {
    width: 100%;
    height: 100%;
    background: linear-gradient(90.45deg, #ffffff 47.5%, rgba(255, 255, 255, 0) 98.8%);
}

.service-title {
    font-size: 24px;
    font-weight: 700;
}

/* Установка пластиковых окон */
.title1-image {
    left: 53px;
    top: 60px;
}

.service1-title {
    left: 140px;
    top: 66px;
    width: 211px;
}

.service1-descr {
    left: 52px;
    top: 160px;
    width: 303px;
    height: 70px;
}

/*Остекление балконов и лоджий*/
.title2-image {
    left: 53px;
    top: 48px;
}

.service2-title {
    left: 149px;
    top: 63px;
    width: 254px;
}

.service2-descr {
    left: 53px;
    top: 144px;
    width: 302px;
    height: 80px;
}

/*Остекление коттеджей и дач*/
.title3-image {
    left: 48px;
    top: 47px;
}

.service3-title {
    left: 138px;
    top: 55px;
    width: 192px;
}

.service3-descr {
    left: 53px;
    top: 148px;
    width: 250px;
    height: 80px;
}

/*Остекление корпоративных объектов*/
.title4-image {
    left: 53px;
    top: 46px;
}

.service4-title {
    left: 146px;
    top: 59px;
    width: 299px;
}

.service4-descr {
    left: 51px;
    top: 149px;
    width: 300px;
    height: 80px;
}
