.service-block {
    position: relative;
    width: 595px;
    height: 268px;
}

.tint {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90.45deg, #ffffff 47.5%, rgba(255, 255, 255, 0) 98.8%);
}

/* Установка пластиковых окон */
.title1-image {
    position: absolute;
    left: 53px;
    top: 60px;
}

.service1-image {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.service1-title {
    position: absolute;
    left: 140px;
    top: 66px;
    width: 211px;
    font-size: 24px;
}

.service1-descr {
    position: absolute;
    left: 52px;
    top: 160px;
    width: 262px;
    height: 70px;
}

/*Остекление балконов и лоджий*/
.title2-image {
    position: absolute;
    left: 53px;
    top: 48px;
}

.service2-title {
    position: absolute;
    left: 149px;
    top: 63px;
    width: 254px;
    font-size: 24px;
}

.service2-descr {
    position: absolute;
    left: 53px;
    top: 144px;
    width: 290px;
    height: 80px;
}

/*Остекление коттеджей и дач*/
.title3-image {
    position: absolute;
    left: 48px;
    top: 47px;
}

.service3-title {
    position: absolute;
    left: 138px;
    top: 55px;
    width: 192px;
    font-size: 24px;
}

.service3-descr {
    position: absolute;
    left: 53px;
    top: 148px;
    width: 222px;
    height: 80px;
}
